<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PPSC</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>
<header>
    <div class="header-left">
        <h1>Premium Personal Style Codi</h1>
    </div>
    <div class="header-right">
        <a th:href="@{/stylelist/login}"><button>Stylelist Login</button></a>
        <a th:href="@{/user/signup}"><button>User Sign-up</button></a>
        <a th:href="@{/stylelist/signup}"><button>Stylelist Sign-up</button></a>
    </div>
</header>

<div class="container" id="login-form-container">
    <h2>고객 로그인</h2>
    <form id="login-form" th:action="@{/user/login}" method="post">
        <input type="text" id="loginId" name="loginId" placeholder="아이디" required>
        <input type="password" id="password" name="password" placeholder="비밀번호" required>
        <button type="submit">로그인</button>
        <div id="error-message" style="color: #ff4d4d;"></div>
    </form>
</div>

<footer>
    <div class="container">
        <p>문의 전화: 010-1234-5678</p>
        <p>이메일: info@ppsc.com</p>
    </div>
</footer>
<!--<script type="text/javascript" th:src="@{/js/login.js}"></script>-->
</body>

</html>